
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(150, 194, 244);
}
.header {
  width: 100vw;
  height: 50px;
  background-color: rgb(4, 120, 253);
  color: white;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.btn-page {
  background-color: rgb(4, 120, 253);
  border: none;
  padding: 5px;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.main {
  width: 90vw;
  border: 1px solid black;
  flex-direction: column;
  justify-content: flex-start;
}
.person {
  width: 100%;
  text-align: start;
}
table {
  border-collapse: collapse;
}
.thead {
  background-color: rgb(8, 33, 61);
  color: white;
  border: 1px solid black;
  width: 15vw;
  padding: 5px;
}
input {
  width: 10vw;
}
td {
  border: 1px solid black;
  padding: 5px;
}
.action {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: rgb(44, 112, 190);
  cursor: pointer;
  margin-right: 20px;
}
.retrieve {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  height: 80vh;
  border: 1px solid black;
}
.search {
  width: 200px;
  height: 30px;
}
.btn-find {
  background-color: rgb(44, 112, 190);
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.add {
  width: 10vw;
  background-color: rgb(44, 112, 190);
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 70vw;
}


.single-data {
  margin-top: 30px;
  margin-left: 30px;
}
.no-data {
  margin-top: 20vh;
  margin-left: 35vw;
}
.find-detail {
  border: 8px solid black;
  margin-top: 20px;
  text-align: start;
}
span{
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  input {
    width: 15vw;
  }
}
